<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb2">
    <input type="text" class="form-control mr-2" placeholder="Buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline btn-light btn-sm" type="button"
        (click)="alterarImagem()"
        >
          {{exibirImagem ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length; else noEventsFoundMessage">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="exibirImagem" [isAnimated]="true" src="assets/{{evento.imagemURL}}"
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem"
        alt="imagem do evento">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>Options</td>
    </tr>
  </tbody>
  <ng-template #noEventsFoundMessage>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </ng-template>
</table>

